:root {
  --background: #1e1c27;
  --input-background: #444059;
  --endorsements-background: #f3f2f2;
  --accent-blue: #28A9F1;
  --light-text: #f3f2f2;
  --dark-text: #04131C;

  --heading-font: 'Josefin Sans', sans-serif;
  --content-font: 'Inter', sans-serif;

  --text-padding: .6rem .8rem;
  --border-radius: 8px;
}

html {
  font-size: 16px;
}

body {
  font-family: var(--content-font);
  color: var(--endorsements-background);
  background: var(--background);
  margin: 0;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 86%;
  padding-bottom: 1rem;
  margin: 0 auto;
}  

/* === Typography === */

h1 {
  font-family: var(--heading-font);
  font-size: 1.95rem;
  text-align: center;
  margin: 1rem 0;
}  

h2 {
  font-family: var(--heading-font);
  font-size: 1.45rem;
  margin-top: 1.25rem;
  margin-bottom: 0;
}  


/* === Header & Input === */

img {
  width: 5.5rem;
  padding-top: 2rem;
}  

.inputs {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.inputs textarea:focus {
  outline: 1px dotted var(--accent-blue)
}

.inputs * {
  font-size: .95rem;
  color: var(--light-text);
  line-height: 1.35;
  border-radius: var(--border-radius);
  border: none;
  background: var(--input-background);
}

#message-input {
  height: 9.5rem;
  box-sizing: border-box;
  padding: var(--text-padding);
}

#publish-btn {
  font-family: var(--heading-font);
  color: var(--dark-text);
  font-size: 1.4rem;
  font-weight: 700;
  background: var(--accent-blue);
  border: none;
  margin: .75rem 0 0 0;
  padding: 1.1rem 1rem .75rem 1rem;
}

/* === Endorsements list === */

ul#endorsement-list {
  list-style-type: none;
  padding: 0;
  margin-top: 0;
}

#endorsement-list li {
  background: #FFF;
  color: var(--dark-text);
  text-align: left;
  line-height: 1.3;
  padding: var(--text-padding);
  margin: 1rem 0;
}

#endorsement-list p {
  padding-top: .3rem;
  padding-bottom: .3rem;
  margin: 0;
}

/* === Media Queries === */
/* Small screens */

@media (min-width: 320px) and (max-width:359px) {
  html {
    font-size: 15px;
  }
  .container {
    width: 92%;
  }

  #endorsement-list li {
    font-size: 1.03rem;
  }
}

/* default: screens 360px-409px */

@media (min-width: 410px) {
  h1 {
    font-size: 2.1rem;
  }
}

@media (min-width: 600px) {
  html {
    font-size: 18px;
  }
  h1 {
    font-size: 2.6rem;
  }
  .container {
    max-width: 790px;
  }
}

/* === Not in current use === */

/* div.name-box-wrapper {
  display: flex;
  justify-content: space-between;
  gap: .6rem;
  margin: .48rem 0 0 0;
  height: 3rem;
}

.name-box-wrapper > * {
  text-align: center;
  flex: 1;
  min-width: 0;
}

.to-from {
  font-weight: 700;
} */
